VideoImage {
	-fx-min-width: 150px;
	-fx-max-width: 150px;
	-fx-min-height: 150px;
	-fx-background-color: pink;
}

.titleText {
	-fx-font-style: bold;
	-fx-font-size: 1.2em;
}

.descriptionText {
	-fx-font-size: 0.8em;
}
